<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LITReview_OC_P9</title>
</head>
<body>
    <header>
        <h1> LITReview </h1>
        <h2>Page d'accueil </h2>
    </header>
    <section>
        <div class="inscription">
            <h2> inscription </h2>
            <button> S'inscrire </button>
        </div>
        <div class="connection">
            <h2> Connectez-vous </h2>
            <button> Connection </button>

        </div>

    </section>

</body>
</html>