{% extends "base_02.html" %}
{% load static %}
{% block content %}
    <section>
        <h1> LITReview, Page creation de critique en reponse à un ticket</h1>
        <a class="" href="{% url 'flux' %}" >Retour page flux</a>
    </section>
<section>
    <h1> Vous souhaitez faire une reponse a cette demande ( à ce ticket)</h1>

        <p> Livre / Article </p>
        <p>{{ticket.title}}</p>
        <p>{{ticket.description}}</p>
        <p>{{ticket.time_created}}</p>
        {% if ticket.image %}
        <div>
            <img class="" src={{ ticket.image.url}} />
        </div>
        {% endif %}
        <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            <p> Votre critique </p>
            {{form_crit.as_p}}

            <input type="submit" value="Validez votre critique">
        </form>
        <a class="" href="{% url 'flux' %}" >Retour page flux</a>
</section>

{% endblock %}