{% extends "base_02.html" %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <div class="container border border-dark p-4">
        <div>{{user.username.upper}} vous souhaitez repondre à ce ticket:</div>
        <div class="container w-75 border border-dark mt-2 mb-2 p-2">
            <div class="row">
                    <div class="col-10">Vous avez a demandé une critique</div>
                    <div class="col-2">{{ticket.time_created|date:'d/m/Y H:i'}}</div>
                </div>
                <div class="row">
                    <div class="col-10">{{ticket.title}}</div>
                </div>
                <div class="row">
                    <div class="col-10">{{ticket.description}}</div>
                </div>
                    {% if ticket.image %}
                        <div class="row mt-2 mb-2">
                            <div class="col-10">
                                <img src="{{ticket.image.url}}"/>
                            </div>
                        </div>
                {% endif %}
        </div>
    </div>
    <form method="POST" class="post-form border border-dark p-3">
        {% csrf_token %}
        {{form_crit.as_p}}

            <input type="submit" value="Validez votre critique">
        </form>
        <a class="" href="{% url 'flux' %}" >Retour page flux</a>
        <a class="nav-link" href="{% url 'flux' %}">Annuler modification</a>
</div>
{% endblock %}