{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LITReview_OC_P9</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
  <header class="all-views">
        <div class="title-all-views">
            <h1> LITReview </h1>
        </div>
        <nav class="nav-bar">
            {% if user.is_authenticated %}
            <a class="" href="{% url 'flux' %}" > Flux</a>
            <a class="" href="{% url 'show-critics' %}" >Mes Posts</a>
            <a class="" href="{% url 'follow' %}" >Abonnements</a>
            <a class="" href="{% url 'logout' %}" >Se déconnecter</a>
            {% endif %}
        </nav>
    </header>
    <section class="base">
        {% block content %}
        {% endblock %}
    </section>
</body>
</html>