<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LITReview_P9</title>
</head>
<body>
    <section>
        <h1> LITReview, Page créer critiques</h1>
    </section>
    <section>
        <form enctype="multipart/form-data" methode="POST" >
            {% csrf_token %}
            <p> Livre / Article </p>
            {{ticketform.as_p}}

            <p> Votre critique </p>
            {{criticform.as_p}}

            <input type="submit" value="Validez votre critique">
        </form>
        <a class="" href="{% url 'flux' %}" >Retour page flux</a>
    </section>

</body>
</html>