{% extends "base_02.html" %}
{% load static %}
{% block content %}
    <section class="new-ticket">
        <h1 class=""> LITReview, Page creation de tickets</h1>
    </section>
    <section >
        <form  enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                <table class="add-new-ticket">
                    {{form.as_table}}
                </table>
                <input class="valid-ticket"type="submit" value="Validez votre ticket">
        </form>
    </section>
    <a class="" href="{% url 'flux' %}" >Retour page flux</a>
{% endblock %}