{% extends "base_02.html" %}
{% load static %}
{% block content %}
    <section>
        <h1> LITReview, Page creation de tickets</h1>
        <a class="" href="{% url 'flux' %}" >Retour page flux</a>
    </section>
    <section>
        <form enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                <table>
                    {{form.as_table}}
                </table>
                <input type="submit" value="Validez votre ticket">
        </form>
    </section>
{% endblock %}