{% extends "base_02.html" %}
{% load static %}
{% block content %}
    <section>
        <h1> LITReview, Page flux</h1>
        <a class="" href="{% url 'new-critic' %}" >Demander une critique</a>
        <a class="" href="{% url 'new-ticket' %}" >Créer une critique</a>
    </section>
    <section>
        <h2> ici visu des publications</h2>
        <p> Visu des tickets</p>
        <div class="ticketshowall">
            {% for ticket in tickets %}
                <p> {{ ticket.title }}</p>
                <p> {{ ticket.description }}</p>
                <p> {{ ticket.user }}</p>
                {% if ticket.image %}
                    <img class="" src="../media/{{ ticket.image}}">
                {% endif %}
                <p> {{ ticket.time_created }}</p>
                <a class="" href="{% url 'answer-critic' %}" >Créer une critique pour ce ticket</a>
            {% endfor %}
        </div>
        <h2> ici visu des critiques</h2>
        <p> Visu des critiques</p>
        {% for critique in critiques %}
            <div class="ticketshowall">
                <p> {{ critique.ticket.title }}</p>
                {% if critique.ticket.image %}
                    <img class="" src="../media/{{ critique.ticket.image}}">
                {% endif %}
                <p> {{ critique.ticket.description }}</p>
            </div>
            <div class="crticsshowall">
                <p> {{ critique.rating }}</p>
                <p> {{ critique.headline }}</p>
                <p> {{ critique.body }}</p>
                <p> {{ critique.user }}</p>
                <p> {{ critique.time_created }}</p>
            </div>
        {% endfor %}
    </section>

{% endblock %}