{% extends "base_02.html" %}
{% load static %}
{% block content %}
    <section>
        <h1> LITReview, Page abonnement/suivi d'autres utilisateurs </h1>
        <a class="" href="{% url 'flux' %}" >Retour page flux</a>
    </section>
    <section>
        <h1> Selectionner qui vous voulez suivre:</h1>
        <form method="POST">
            {% csrf_token %}
            {{form}}
            <input class="" type="submit" value="Follow User"/>
        </form>
    </section>
    <section>
        <h1> Vous ete Abonné à :</h1>
        {%for usersfollow in usersfollows %}
            <p> {{usersfollow.followed_user}}</p>
            <a class="" href="{% url 'unfollow' usersfollow.id %}">Se désabonner</a>
        {%endfor%}
    </section>
    <section>
        <h1> Vous etes suivi par:</h1>
        {%for followed in followeds %}
            <p> {{followed.user}}</p>
        {%endfor%}
    </section>
{% endblock %}


