{% extends "base_02.html" %}
{% load static %}
{% block content %}
    <div class="welcome-title">
        <h2>Bienvenue sur le site de LITReview </h2>
    </div>
    <div class="infos-choices">
         <div class="inscription ">
            <h2> inscription </h2>
            <a class="" href="{% url 'signup' %}" >S'inscrire</a>
        </div>
        <div class="connection">
            <h2> Connectez-vous </h2>
            <form method="post">
            {% csrf_token %}
                <input type="text" class="" name="username" placeholder="Nom d'utilisateur"><br>
                <input type="password" class="" name="password" placeholder="Mot de passe"><br>
                <input class="btn " type="submit" value="Se connecter">
            </form>
        </div>
    </div>
{% endblock %}