{% extends "base_02.html" %}
{% load static %}
{% block content %}
    <section>
        <h1> LITReview, Page voir ses propres critiques</h1>
        <a class="" href="{% url 'flux' %}" >Retour page flux</a>
    </section>
    <section>
        <h2> Mes posts</h2>
        <div>
            <h1> Visu des tickets</h1>
            {% for ticket in tickets %}
                <p> {{ ticket.title }}</p>
                {% if ticket.image %}
                    <img class="" src="../media/{{ ticket.image}}">
                {% endif %}
                <p> {{ ticket.description }}</p>
                <a class="" href="{% url 'edit-ticket' ticket.id %}" >Modifier</a>
                <a class="" href="{% url 'delticket' ticket.id %}" >Supprimer</a>
            {% endfor %}
        </div>
        <div>
            <h1> Visu des critiques</h1>
            {% for critique in critiques %}
                <p> {{ critique.ticket.title }}</p>
                {% if critique.ticket.image %}
                    <img class="" src="../media/{{ critique.ticket.image}}">
                {% endif %}
                <p> Commentaire: {{ critique.body }}</p>
                <a class="" href="{% url 'edit-critics' critique.id %}" >Modifier</a>
                <a class="" href="{% url 'delreview' critique.ticket.id %}" >Supprimer</a>
            {% endfor %}
        </div>
    </section>

{% endblock %}