<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LITReview_P9</title>
</head>
<body>
    <section>
        <h1> LITReview, Page d'inscription</h1>
        <div class="inscription">
            <h2> Créer un compte </h2>

            <form method="POST">
                {% csrf_token %}
                <table>
                    {{form.as_table}}
                </table>
                <input type="submit" value="S'inscrire">
            </form>

            <a class="" href="" >Retour Home page</a>
        </div>
    </section>

</body>
</html>