@charset "UTF-8";
/* base style */
body {
	background: linear-gradient(to bottom, rgba(37, 37, 37, 0.616), rgba(154, 156, 158, 0.562));
	color: black;
}

.all-views {
    border: solid;
	border-radius: 20px;
	margin: 0px
	justify-content: space-between;
	display: flex;
	align-items: center;
}

.title-all-views {
    margin-left: 850px;
}

nav.nav-bar {
    margin-left: 500px;
}

nav.nav-bar a {
    border:solid;
    border-radius: 10px;
    padding: 5px;
    color: black;
}

/* index style */

div.welcome-title {
    text-align: center;
    margin-top: 50px;
    margin-right: 750px;
    margin-left: 750px;
    border: solid;
    border-radius: 10px;
}
div.infos-choices {
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
}

.inscription {
    width: 300px;
    border: solid;
    border-radius: 20px;
    margin-top: 0px;
    margin-left: 500px;
    padding: 10px;
    text-align: center;
}
.inscription a {
    border:solid;
    border-radius: 10px;
    padding: 5px;
    color: black;
}
.connection{
    width: 300px;
    border: solid;
    border-radius: 20px;
    margin-right: 500px;
    padding: 10px;
    text-align: center;

}

/* signup style */

.singup-inscription h2 {
    border:solid;
    width: 500px;
    border-radius: 20px;
    margin-left: 680px;
    padding: 10px;
    text-align: center;
}
.singup-inscription form {
    border:solid;
    width: 500px;
    border-radius: 20px;
    margin-left: 680px;
    padding: 10px;
    text-align: center;
}

.btn-singup {
    margin-top: 40px;
}

/* flux style */