@charset "UTF-8";
/* base style */


.all-views {
    border: solid;
	border-radius: 20px;
	margin: 0px;
	justify-content: space-between;
	display: flex;
	align-items: center;
}

.title-all-views {
    margin-left: 850px;
}

nav.nav-bar {
    margin-left: 500px;
}

nav.nav-bar a {
    border:solid;
    border-radius: 10px;
    padding: 5px;
    color: black;
}

/* index style */

div.welcome-title {
    text-align: center;
    margin-top: 50px;
    margin-right: 750px;
    margin-left: 750px;
    border: solid;
    border-radius: 10px;
}
div.infos-choices {
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
}

.inscription {
    width: 300px;
    border: solid;
    border-radius: 20px;
    margin-top: 0px;
    margin-left: 500px;
    padding: 10px;
    text-align: center;
}
.inscription a {
    border:solid;
    border-radius: 10px;
    padding: 5px;
    color: black;
}
.connection{
    width: 300px;
    border: solid;
    border-radius: 20px;
    margin-right: 500px;
    padding: 10px;
    text-align: center;

}

/* signup style */

.singup-inscription h2 {
    border:solid;
    width: 500px;
    border-radius: 20px;
    margin-left: 680px;
    padding: 10px;
    text-align: center;
}
.singup-inscription form {
    border:solid;
    width: 500px;
    border-radius: 20px;
    margin-left: 680px;
    padding: 10px;
    text-align: center;
}

.btn-singup {
    margin-top: 40px;
}

/* flux style */

.title-flux  {
    text-align: center;
    padding: 20px;
}

.nav-btn {
    padding: 20px;

}

.nav-btn a {
    border:solid;
    border-radius: 10px;
    padding: 10px;
    color: black;
}

.add-critics {
    margin-right: 280px;
}

.add-tickets {
    margin-left: 280px;
}

.show-critics {
    border:solid;
    padding: 20px;
    margin: 30px;
    margin-left: 500px;
    margin-right: 500px;
    text-align: center;
}
.critcs-ticketshowall{
    border:solid;
}
.ticketshowall {
    border:solid;
    padding: 20px;
    margin: 30px;
    margin-left: 500px;
    margin-right: 500px;
    text-align: center;
}

.criticsshowall {
    border:solid;
    padding: 20px;
    margin: 30px;
    margin-left: 500px;
    margin-right: 500px;
    text-align: center;
}

.btn-add-critics {
    border:solid;
    padding: 10px;
    margin-left: 600px;
    text-align: center;
}